/*
  CSS Styles for the TaskBar Component
*/

.addTaskContainer {
  display: flex;
  grid-template-columns: 70% 20%;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
}

.addTask {
  padding: 25px;
  flex-grow: 2;
  font-size: 24px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: grey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.addTask:focus {
  outline: none;
}

.addTaskButton {
  border-width: 0 0 0 1px;
  border-style: solid;
  padding: 25px;
  font-size: 24px;
  border-radius: 0 10px 10px 0;
  background-color: dodgerblue;
  color: white;
}

@media only screen and (max-width: 700px){
  .addTaskContainer {
    grid-template-columns: auto 25%;
  }
}
